
    <div class="card bg-dark mb-2 text-center">
        <lazy-image [url]="gif.images.downsized_medium.url" [title]="gif.title || 'No Title'"></lazy-image>
        <div class="card-body">
            <p class="card-text text-white">
                {{gif.title || 'Gif title'}} 
            </p>
        </div>
        <div *ngIf="addingFlag !== 'removeAlert'" class="bg-success div-border d-flex">
            
                <button (click)="onClick()" [title]="title" class="btn">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 76 76" style="enable-background:new 0 0 76 76;" xml:space="preserve">
                        <g id="_x37_7_Essential_Icons_48_">
                            <path id="Plus" d="M60,38c0,1.1-0.9,2-2,2H40v18c0,1.1-0.9,2-2,2s-2-0.9-2-2V40H18c-1.1,0-2-0.9-2-2s0.9-2,2-2h18V18
                            c0-1.1,0.9-2,2-2s2,0.9,2,2v18h18C59.1,36,60,36.9,60,38z M76,38c0,21-17,38-38,38S0,59,0,38S17,0,38,0S76,17,76,38z M72,38
                            C72,19.2,56.8,4,38,4S4,19.2,4,38s15.2,34,34,34S72,56.8,72,38z"/>
                        </g>
                    </svg>
                </button>
                
                
            
           

        </div>
        <div *ngIf="addingFlag === 'removeAlert'" class="bg-danger div-border d-flex">
            
            <button (click)="onClick()" [title]="title" class="btn">
                <img src="assets/cancel.svg" alt="Cancel button">
            </button>
            
            
        
       

    </div>
        
        
    </div>
    
    
