.card{
    overflow: hidden;
}

.btn{
    padding: 0;
    margin: 0;
}

.div-border{
    display: flex;
    height: 3.22rem;
    align-items: center;
    justify-content: center;
}



svg{
    width: 30px;
}