#sidebar{
    position: fixed;
    width: 200px;
    height: 100vh;
}

#footer-div{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.container{
    
    padding: 0;
    position: relative;
}
.btn{
    text-decoration: none;
    width: 100%;
}